<center> <h3> RECEIPT </h3> <br><i> SCREENSHOT THIS RECEIPT </I>
</center>
<div style="font-size:21px;padding:5px 5px 5px 5px;margin:20px 20px 20px 20px;border:1px solid black;">
  
  <strong> Customer Details </strong> <br>
  <hr/>
  <table>
  <b> Name : </b> <%- name %><br><br>
  <b> Number : </b> <%- number %><br><br>
  <b> Address : </b> <%- address %> <br><br>
  <b> Order : </b> <%- product %> <br><br>
  <b> Order ID : </b> <%- oid %> <br><br>
  <b> Date & Time : </b> <%- date %> <br><br>
  <hr/>
  <b> Total Amount : </b> <%- amount %> 
  </table>
</div>
<br>
<h2> Thank you for ordering, Your order will shortly arrive in 1 - 3 hours between 5PM - 9PM  <br>Hope to see you again! :D </h2>
<br>
<center> <button style="background:lime;width:80%;height:50px;font-size:30px;"> <a href="https://mayurcodes.in/orderit"> Go Back To Website </a></button>